#jina{
    float:left;
    padding: 20px 20px;
}

h1{color: rgb(95, 95, 241);font-size: 60px;}
body{background-color: rgb(225, 225, 235);}
#kujaza{text-align: right;padding: 20PX 20PX;}
p{font-size: 35px;}
#kip{text-align: left;}
form{width:400px;length:400px;float:right;}